.save__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 76px - 55px);
}

.main__title {
    text-align: center;
}